In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import scipy
import json

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_format = 'retina'
plt.rcParams['figure.figsize'] = 14, 8
plt.rcParams['font.size'] = 18
plt.rcParams['savefig.format'] = 'pdf'
sns.set_style('darkgrid')
import matplotlib.font_manager as font_manager
font_dir = [r"C:\Users\legrey4ik\OneDrive\Рабочий стол\hse sans"]
for font in font_manager.findSystemFonts(font_dir):
    font_manager.fontManager.addfont(font)
plt.rcParams['font.family'] = 'hse sans'

In [2]:
df = pd.read_csv('df_extended_v2_remote.csv')

In [3]:
df

,Unnamed: 0.1,Unnamed: 0,idind,region,city_type,age,is_male,industry,log_wage,is_gov,...,vj72.5h3,vj72.5h2,vj72.5h,vj72.4h2,vj72.4h,vj72.3h2,vj72.3h,vj72.2h2,vj72.2h,is_remote
0,0,0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,1,1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,...,NaN,Нет,Нет,NaN,NaN,NaN,NaN,NaN,NaN,True
2,2,2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,3,3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Да,NaN,NaN,False
4,4,4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,...,NaN,NaN,Да,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3864,3864,3864,56979,Московская о,Село,34,0,"ТОРГОВЛЯ, БЫ",10.015850,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Да,False
3865,3865,3865,56982,Московская о,Село,39,1,"ТРАНСПОРТ, С",11.139780,1,...,NaN,NaN,NaN,NaN,Да,NaN,NaN,NaN,NaN,False
3866,3866,3866,56986,Московская о,Село,32,1,"ЛЕГКАЯ, ПИЩЕ",11.362930,0,...,NaN,NaN,Да,NaN,NaN,NaN,NaN,NaN,NaN,False
3867,3867,3867,57005,г. Москва,Областной це,19,1,"СПОРТ, ТУРИЗ",12.461540,0,...,NaN,NaN,Нет,NaN,Да,NaN,NaN,NaN,NaN,False
3868,3868,3868,57007,г. Москва,Областной це,57,0,ЖИЛИЩНО-КОММ,9.976630,1,...,NaN,NaN,NaN,NaN,Да,NaN,NaN,NaN,NaN,False

In [6]:
with open("deleted_salary.json") as deld:
    deld = pd.Series(json.load(deld))

In [7]:
clear_df = df[deld.tolist()]

In [8]:
clear_df

,Unnamed: 0.1,Unnamed: 0,idind,region,city_type,age,is_male,industry,log_wage,is_gov,...,vj72.5h3,vj72.5h2,vj72.5h,vj72.4h2,vj72.4h,vj72.3h2,vj72.3h,vj72.2h2,vj72.2h,is_remote
0,0,0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,1,1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,...,NaN,Нет,Нет,NaN,NaN,NaN,NaN,NaN,NaN,True
2,2,2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,3,3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Да,NaN,NaN,False
4,4,4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,...,NaN,NaN,Да,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3861,3861,3861,56966,г. Санкт-Пет,Областной це,33,0,"ТОРГОВЛЯ, БЫ",10.158950,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3862,3862,3862,56970,г. Санкт-Пет,Областной це,32,1,"ТОРГОВЛЯ, БЫ",10.669780,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Да,NaN,NaN,False
3863,3863,3863,56976,Московская о,Село,37,1,"ЛЕГКАЯ, ПИЩЕ",10.313100,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Да,NaN,NaN,False
3864,3864,3864,56979,Московская о,Село,34,0,"ТОРГОВЛЯ, БЫ",10.015850,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Да,False
3868,3868,3868,57007,г. Москва,Областной це,57,0,ЖИЛИЩНО-КОММ,9.976630,1,...,NaN,NaN,NaN,NaN,Да,NaN,NaN,NaN,NaN,False

In [10]:
clear_df['log_wage'].describe()

count    3679.000000
mean        9.815624
std         0.549982
min         8.549514
25%         9.465806
50%         9.802278
75%        10.158950
max        11.020430
Name: log_wage, dtype: float64