In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

/var/folders/vc/rj9dgp2156q5rmfbj17spkvh0000gn/T/ipykernel_6140/1285016483.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_excel('../Data_RLMS.xlsx')
df.head()

,idind,psu,status,age,male,industry,lnwage,public,internet,children,...,id66,id67,id68,id69,id70,id71,id72,id73,id74,id75
0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,1,2,...,0,0,0,0,0,0,0,0,1,0
1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,1,1,...,1,0,0,0,1,0,0,0,1,0
2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,1,3,...,0,0,0,0,0,0,0,0,0,1
3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,1,1,...,1,0,0,0,0,0,0,0,1,0

In [9]:
df_ext = pd.read_csv('../df_extended_v2.csv')
df_ext.drop(columns=['Unnamed: 0'], axis=0, inplace=True)
df_ext.head()

,idind,region,city_type,age,is_male,industry,log_wage,is_gov,internet,num_children,...,id74,id75,job_satisfaction,job_salary_satisfaction,career_oportunities_satisfaction,money_ladder,power_ladder,respect_ladder,do_you_consume_alcohol,did_you_drink_alcohol_in_last_30_days
0,37,Волосовский,ПГТ,59,1,"НАУКА, КУЛЬТ",8.954980,0,1,2,...,1,0,СКОРЕЕ УДОВЛЕТВОРЕНЫ,"И ДА, И НЕТ",СОВСЕМ НЕ УДОВЛЕТВОРЕНЫ,3.0,2.0,5.0,"Да, употребляете",Да
1,122,Волосовский,Село,40,0,ОБРАЗОВАНИЕ,10.628960,1,1,1,...,1,0,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,7.0,7.0,7.0,"Да, употребляете",Да
2,125,Волосовский,Село,53,0,СЕЛЬСКОЕ ХОЗ,10.341270,0,1,3,...,0,1,СКОРЕЕ НЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ НЕ УДОВЛЕТВОРЕНЫ,СОВСЕМ НЕ УДОВЛЕТВОРЕНЫ,4.0,3.0,5.0,"Да, употребляете",Да
3,126,Волосовский,Село,47,1,СЕЛЬСКОЕ ХОЗ,9.753487,0,0,1,...,0,1,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,ЗАТРУДНЯЮСЬ ОТВЕТИТЬ,5.0,3.0,8.0,"Нет, никогда не употребляете",NaN
4,132,Волосовский,Село,54,0,ЗДРАВООХРАНЕ,10.158950,1,1,1,...,1,0,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,СКОРЕЕ УДОВЛЕТВОРЕНЫ,6.0,5.0,6.0,"Да, употребляете",Да